<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Devel Module">
  <description>Default PHP CodeSniffer configuration for Devel module.</description>
  <file>.</file>

  <!-- Initially include all Drupal and DrupalPractice sniffs. -->
  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>

  <!-- Use 's' to print the full sniff name in the report. -->
  <arg value="s"/>
  <arg value="-colors"/>

  <!-- specify extensions to check (but this seemes to is ignored anyway) -->
  <arg name="extensions" value="inc,install,module,php,profile,test,theme,yml"/>

  <!-- ignore all files that match these patterns -->
  <exclude-pattern>vendor</exclude-pattern>
  <exclude-pattern>_ignore*</exclude-pattern>
  <exclude-pattern>*.patch</exclude-pattern>

</ruleset>
